In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
import plotly as plt

In [7]:
import_file = Path("Resources/shopping_data.csv")
df_shopping = pd.read_csv(import_file, encoding="ISO-8859-1")

In [8]:
df_shopping.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [9]:
# Columns
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [10]:
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [14]:
output_file_path = Path("Resources/new_iris_data.csv")
new_iris_df.to_csv(output_file_path, index=False)

In [16]:
df_shopping.isnull().sum()

CustomerID                0
Card Member               2
Age                       2
Annual Income             0
Spending Score (1-100)    1
dtype: int64

In [17]:
# Drop null rows
df_shopping = df_shopping.dropna()

In [19]:
df_shopping.drop(columns=['CustomerID'],inplace=True)
df_shopping.head()

KeyError: "['CustomerID'] not found in axis"

In [20]:
# Transform String column
def change_string(member):
    if member == "Yes":
        return 1
    else:
        return 0
    
df_shopping['Card Member'] = df_shopping['Card Member'].apply(change_string)
df_shopping.head()

C:\Users\jjgla\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          15000                    39.0
1            1  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0

In [21]:
# Transform annual income
df_shopping['Annual Income'] = df_shopping['Annual Income'] / 1000
df_shopping.head()

C:\Users\jjgla\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0           15.0                    39.0
1            1  21.0           15.0                    81.0
2            0  20.0           16.0                     6.0
3            0  23.0           16.0                    77.0
4            0  31.0           17.0                    40.0

In [22]:
df_shopping.columns

Index(['Card Member', 'Age', 'Annual Income', 'Spending Score (1-100)'], dtype='object')

In [23]:
columns_new = ['Card_Member', 'Age', 'Annual_Income', 'Spending_Score']
df_shopping.columns = columns_new

In [24]:
df_shopping.head()

   Card_Member   Age  Annual_Income  Spending_Score
0            1  19.0           15.0            39.0
1            1  21.0           15.0            81.0
2            0  20.0           16.0             6.0
3            0  23.0           16.0            77.0
4            0  31.0           17.0            40.0

In [26]:
# Saving cleaned data
file_path = Path("Resources/shopping_data_cleaned.csv")
df_shopping.to_csv(file_path, index=False)

In [2]:
conda install hvplot

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\jjgla\anaconda3

  added / updated specs:
    - hvplot


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    colorcet-2.0.2             |             py_0         1.4 MB
    holoviews-1.13.3           |             py_0         3.2 MB
    hvplot-0.6.0               |             py_1         2.9 MB
    markdown-3.1.1             |           py37_0         132 KB
    panel-0.9.7                |             py_0         757 KB
    param-1.9.3                |             py_0          66 KB
    pyct-0.4.6                 |           py37_0          24 KB
    pyviz_comms-0.7.6          |             py_0          13 KB
    ------------------------------------------------------------
                                           Total:         8.5 MB

The following NEW packages will be INSTALLED:

  colorcet           pkgs/main/noarch::colorcet-2.0.2-py_0
  holoviews          pkgs/main/noarch::holoviews-1.13.3-py_0
  hvplot             pkgs/main/noarch::hvplot-0.6.0-py_1
  markdown           pkgs/main/win-64::markdown-3.1.1-py37_0
  panel              pkgs/main/noarch::panel-0.9.7-py_0
  param              pkgs/main/noarch::param-1.9.3-py_0
  pyct               pkgs/main/win-64::pyct-0.4.6-py37_0
  pyviz_comms        pkgs/main/noarch::pyviz_comms-0.7.6-py_0



Downloading and Extracting Packages

param-1.9.3          | 66 KB     |            |   0%
param-1.9.3          | 66 KB     | ##4        |  24%
param-1.9.3          | 66 KB     | ########## | 100%

hvplot-0.6.0         | 2.9 MB    |            |   0%
hvplot-0.6.0         | 2.9 MB    |            |   1%
hvplot-0.6.0         | 2.9 MB    | ########## | 100%

colorcet-2.0.2       | 1.4 MB    |            |   0%
colorcet-2.0.2       | 1.4 MB    | ########## | 100%

pyviz_comms-0.7.6    | 13 KB     |            |   0%
pyviz_comms-0.7.6    | 13 KB     | ########## | 100%

pyct-0.4.6           | 24 KB     |            |   0%
pyct-0.4.6           | 24 KB     | ########## | 100%

holoviews-1.13.3     | 3.2 MB    |            |   0%
holoviews-1.13.3     | 3.2 MB    | ########## | 100%

markdown-3.1.1       | 132 KB    |            |   0%
markdown-3.1.1       | 132 KB    | ########## | 100%

panel-0.9.7          | 757 KB    |            |   0%
panel-0.9.7          | 757 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.